In [1]:
import pandas as pd

In [16]:
df = pd.read_csv(r'./channel_rbc_news_posts.csv')
df.shape

(4847, 6)

In [5]:
df = df[~df['content'].isna()]

In [11]:
df.sample(5)

,message_dt,message_id,channel_id,content,views,original_author
5616,2025-06-13,120709,rbc_news,◻️◻️◻️ Иранское телевидение публикует видео ле...,155016.0,NaN
6477,2025-09-15,130698,rbc_news,У руководства Украины есть возможности для тог...,126327.0,NaN
656,2025-11-18,136043,rbc_news,◻️◻️◻️ Владимир Путин в режиме видеоконференци...,99246.0,NaN
3545,2025-08-10,126937,rbc_news,В аэропорту Ухты введены временные ограничения...,136546.0,NaN
2013,2025-09-24,131587,rbc_news,Пакистанские налоговые органы начали изучать с...,121525.0,NaN

In [13]:
df.to_csv(r'./channel_rbc_news_posts.csv', index=False)